h1{
font-family : 'Marcellus SC', serif;
}
body{
    background-image: url("../img/Background_.jpg");
    background-attachment: fixed;
}

.jumbotron{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    color: white;
}
.navbar{
    background-color: transparent;
}
.navbar-default{
    border: none;
}
.navbar-default .navbar-nav>li>a{
    color: silver;
}
.navbar-default .navbar-brand{
    color: silver;
}

#banner{
    padding: 30px;
}