h1,h2,h3 {
color: white;
font-family : 'Marcellus SC', serif;
}
li {
    color: white;
    font-family : 'Marcellus SC', serif;
    font-size: 150%;
}
nav {
    margin-top: -1.2%;
}
body{
    background-image: url("../img/Background_.jpg");
    background-attachment: fixed;
}

.jumbotron{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    color: white;
    padding: 0;
}
.navbar{
    background-color: transparent;
}
.navbar-default{
    border: none;
}
.navbar-default .navbar-nav>li>a{
    color: silver;
}
.navbar-default .navbar-brand{
    color: silver;
    font-family : 'Marcellus SC', serif;
    font-size: 250%;
}
#banner{
    padding: 0;
}
h2{
    color: white;
    text-align: center;
}
h3{
    color:white;
    text-align: center;
}
strong{
    text-align: right;
}
label{
    color: white;
}
.row{
    margin-right:0;
    margin-left:0;
}
.container{
    padding: 0;
}
h1{
    text-align: center;
}
